.center{
    text-align: center;
    width: 100px;
    margin-left: 50%;
}

.coloumn{
    text-align: center;
    border: 2px solid   blueviolet;
    width: 100px;
    float: left;
    width: 25%;
    margin: 3%;
    background-color: greenyellow;
}

.box{
    text-align: center;
    border: 2px solid   yellowgreen;
    width: 100px;
    float: right;
    background-color: cornflowerblue;
}

.pad{
    margin: 1%;
}

