.blue{
    color: blue;
    font-size: xx-large;
}

.red{
    color: red;
    font-size: 10ch;
    font-family: 'Courier New', Courier, monospace;
}

.green{
    color: green;
    font-style: inherit;
    font-size: 60%
}